body, html {
  margin: 0;
  padding: 0;
  min-width:100vw;
  height: 100vh;
  overflow: hidden;
  font-size: var(--fontSize);
}

body {
  background-color: var(--bg, #F5F5F7);
  background-image: radial-gradient(var(--bgDot, #D8D8DD) 0.5px, transparent 1px);
  background-size: 22px 22px;
}

header {
  background: var(--white);
  height: 50px;
  width: 85%;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  border: 2px dashed var(--bgDot);
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
}

main {
  display: block;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  margin: 0;
}

.container {
  display: block;
  margin-top: 125px;
}

#searchBar {
  margin: 0 auto;
  background: var(--white);
  height: 40px;
  width: 50%;
  position: sticky;
  top: 25px;
  border: 2px dashed var(--bgDot);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.5s ease;
}

#searchIcon {
  margin-left: 0.5rem;
  cursor: pointer;
}

#search {
  border: none;
  outline: none;
  flex: 1;
}

#searchBar.active {
  transform: scale(1.025);
  z-index: 1000;
}

#searchBtn {
  background: linear-gradient(to top right, var(--accent), var(--accentGrey));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  min-width: 100px;
  margin-right: 0.5rem;
  border: 2.5px solid var(--accentBlack);
  border-radius: 17px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#searchBtn > i {
  transition: transform 0.5s ease;
}

#searchBtn:hover > i {
  transform: translateX(5px);
}

.keys {
  display: inline-flex;
  gap: 0.3rem;
  margin: 0.3rem 0;
}

.keys kbd:first-child {
  margin-left: 0.3rem;
}

.keys kbd:last-child {
  margin-right: 0.3rem;
}

kbd {
  text-transform: uppercase;
  font-size: 0.95rem;
  padding: 0.1rem 0.3rem;
  background: color-mix(in srgb, var(--bgDot) 65%, white);
  border: solid 3px var(--bgDot);
  border-radius: 7.5px;
}

.icon {
  aspect-ratio: 1/1;
  height: auto;
  width: auto;
  border-radius: 50%;
}