:root {
  --bg: #F5F5F7;
  --bgDot: #D8D8DD;
  --fontSize: 16px;
  --white: #FCFCFC;
  --grey: #A7A7A7;
  --accent: #B7DAFF;
  --accentGrey: #7DD0F5;
  --text:#191919 ;
  --accentBlack: #A6D1FF;
}

html.dark {
  --bg: #2F3237;
  --bgDot: #4A4D52;
  --white: #3A3D42;
  --grey: #C7C7C7;
  --accent: #8CB8E8;
  --accentGrey: #6AA7D8;
  --accentBlack: #7FB0E0;
  --text: #f4f4f4;
  --fontSize: 16px;
}
